mixin menuList(links)
	ul
		for i in links
			li
				a(href=i.link)=i.name

mixin headingH2(name, desc)
	.heading-content
		h2= name
		p= desc

mixin button(name)
	button.button-more
		=name
		svg(width="41" height="8" viewBox="0 0 41 8").icon-more
			use(xlink:href="img/icon/sprite.svg#icon-more")

mixin iconSvg(w, h, wp, id)
	svg(width=w height=h viewBox=wp class=id)
		use(xlink:href="img/icon/sprite.svg#"+id)

mixin case()
	.case-items
		.case-text
			span Case Studies
			h3 Fusce tellus Sed metus augue convallis et vehiculapulvinar eu ante Integer orci
			p Praesent sit amet est In dictum dolor eu dictum porttitor enim felis viverra mi eget luctus massa purus
			.dot-slider
		.case-images
			img(src="img/tablet.png", alt="")